img.profil-picture{
  width: 150px;
  border-radius: 50%;
  box-shadow: 2px 2px 3px grey;
  }
h1{
  color: #DD5555;
  font-size:30px;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}
img.picture{
width:200px;

}
img.small-picture{
width:60px;
}
h2{
  color: rgb(232, 102, 32);
  font-size:20px;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color:black;
}

body{
  background-image: url("http://hdfondsdecran.com/image/201609/1948/surf-planche-plage-noir-et-blanc.jpg");
  background-size: cover;
  margin:0px;
}

.text-center {
  text-align: center;
}

.card{
  background-color: rgb(240, 240, 240,0.9);
  border-radius: 4px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.container{
  width: 500px;
  margin: 30px auto;
}

.button-red{
  border:2px solid;
  padding:10px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px grey;
  border-color: rgba(200, 0, 0, 0.95);
  color:rgba(200, 0, 0, 0.95);
}
a{
  cursor:pointer;
  text-decoration: none;
}

.button-red:hover{
background-color: red;
transition:0.5;
color: white;
}
.icon:hover{
  color:black;
  transition:0.5;
}
.icon{
  font-size: 1.5em;
  color:grey;
}

.list-inline{
  display: inline-block;
}
.fab{
padding:10px;
}
.movie:hover{
  color: rgba(70, 70, 120, 0.8);
}
.red{
  color: #DD5555;
}
.red:hover{
  color:red;
}

@media (max-width: 540px) {
  .container {
    width: 400px;
    margin:0px auto;
  }
}
